*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 1000px)
{
    .container {
        display: flex;
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 1;
    }
    
    .left {
        background-color: rgb(4, 53, 88);
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        justify-content: space-around;
        height: 100vh;
        width: 45%;
    }
    
    .heading {
        color: white;
        align-self: center;
    }
    
    .head {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        font-size: 50px;
        
    }
    
    .para {
        color: white;
        align-self: center;
    }
    .paragraph {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
    }
    
    .logo {
        align-self: center;
    }
    
    .button {
        height: 50px;
        width: 150px;
        border-radius: 10px;
        background-color: white;
        border-color: white;
        cursor: pointer;
    }
    .button:hover {
        background-color: bisque;
    }
    
    .but {
        align-self: center;
        justify-self: center;
    }
    
    .right {
        display: flex;
        flex-direction: column;
        width: 55%;
        height: 100vh;
    }
    
    .nav {
        display: flex;
        justify-content: space-between;
        padding: 20px 15px;
    }
    .navigation{
        align-self: center;
        width: 600px;
        border: 1px solid rgb(165, 159, 159);
        border-left: white;
        border-right: white;
    }
    
    .itom:hover {
        cursor: pointer;
        color: blue;
    }
    
    .top {
        display: flex;
        justify-content: space-around;
    }
    
    .icon {
        height: 30px;
        width: 30px;
    }
    .icon:hover {
        cursor: pointer;
    }
    
    .icons {
        align-self: center;
    }
    
    .bi {
        position: absolute;
        z-index: 4;
        margin-left: 30%;
        margin-top: 15%;
    }
    
    .item {
        text-decoration: none;
        color: black;
    }
}

@media (max-width: 1000px)
{
    .container {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }
    
    .left {
        background-color: rgb(4, 53, 88);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 50vh;
        width: 100vw;
        gap: 1rem;
    }
    
    .heading {
        color: white;
        align-self: center;
    }
    
    .head {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        font-size: 2rem;
        
    }
    
    .para {
        color: white;
        align-self: center;
    }
    .paragraph {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 0.8rem;
    }
    
    .logo {
        padding-top: 2rem;
        align-self: center;
    }
    
    .button {
        height: 50px;
        width: 150px;
        border-radius: 10px;
        background-color: white;
        border-color: white;
        cursor: pointer;
    }
    .button:hover {
        background-color: rgb(255, 221, 180);
    }
    
    .but {
        align-self: center;
        justify-self: center;
        padding-bottom: 1rem;
    }
    
    .right {
        display: flex;
        flex-direction: column;;
        padding-top: 1rem;
        height: 100vh;
        width: 100vw;
    }
    
    .nav {
        display: flex;
        justify-content: space-between;
        padding: 15px 7px;
    }
    .navigation{
        align-self: center;
        width: 23rem;
        border: 1px solid rgb(165, 159, 159);
        border-left: white;
        border-right: white;
    }
    
    .itom:hover {
        cursor: pointer;
        color: blue;
    }
    
    .top {
        display: flex;
        justify-content: space-around;
    }
    
    .icon {
        height: 30px;
        width: 30px;
    }
    .icon:hover {
        cursor: pointer;
    }
    
    .icons {
        align-self: center;
    }
    
    .bi {
        position: absolute;
        z-index: 4;
        margin-left: 3rem;
        margin-top: 34rem;
    }

    .bic {
        height: 230px;
        width: 300px;
    }
    
    .item {
        text-decoration: none;
        color: black;
        font-size: 0.7em;
    }
}
